# Variables and Data Types Solutions

Question 1: 
Variable Declaration and Initialization (5 points)
Declare and initialize the following variables:

1. An integer variable named num_students and set its value to 50.
2. A string variable named course_name and set its value to "Python Programming".
3. A floating-point variable named pi and set its value to 3.14159.
4. A boolean variable named is_active and set its value to True.
5. A list variable named grades and initialize it with the values [85, 92, 78, 90, 88].

In [4]:
# Question 1: Variable Declaration and Initialization

# Write your code below this line
num_students = 50
course_name = "Python Programming"
pi = 3.14159
is_active = True
grades = [85, 92, 78, 90, 88]
# End of your code

Question 2: Data Type Conversion (10 points)
You are given the following variables:

income = 2500
expenses = 980.50
Perform the following operations:

1. Calculate the profit by subtracting expenses from income. Store the result in a variable named profit.
2. Convert the profit to an integer and store the result in a variable named rounded_profit.
3. Convert the rounded_profit to a string and store the result in a variable named profit_str.

In [5]:
income = 2500
expenses = 980.50

In [6]:
# Question 2: Data Type Conversion

# Write your code below this line
profit = income - expenses
rounded_profit = int(profit)
profit_str = str(rounded_profit)
# End of your code

- Question 3: String Manipulation (15 points)
- You are given the following string:
- message = "Hello, World!"
- Perform the following operations:

1. Print the length of the message.
2. Print the message in uppercase.
3. Print the message in lowercase.
4. Replace "World" in the message with "Python".
5. Check if the message starts with "Hello".
6. Check if the message ends with "!".

In [7]:
message = "Hello, World!"

In [8]:
# Question 3: String Manipulation

# Write your code below this line
print(len(message))
print(message.upper())
print(message.lower())
message = message.replace("World", "Python")
print(message.startswith("Hello"))
print(message.endswith("!"))
# End of your code

13
HELLO, WORLD!
hello, world!
True
True

- Question 4: List Manipulation (20 points)
- You are given the following list:

- numbers = [3, 5, 2, 8, 4]
- Perform the following operations:

1. Print the length of the list.
2. Append the number 6 to the end of the list.
3. Remove the number 2 from the list.
4. Sort the list in ascending order.
5. Calculate the sum of all numbers in the list and store the result in a variable named total.

In [20]:
numbers = [3, 5, 2, 8, 4]

In [21]:
# Question 4: List Manipulation

# Write your code below this line
print(len(numbers))
numbers.append(6)
print(numbers)
numbers.remove(2)
print(numbers)
numbers.sort()
print(numbers)
total = sum(numbers)
print(total)
# End of your code

5
[3, 5, 2, 8, 4, 6]
[3, 5, 8, 4, 6]
[3, 4, 5, 6, 8]
26

- Question 5: Dictionary Manipulation (20 points)
- You are given the following dictionary:

In [25]:
student = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science",
    "gpa": 3.8
}

- Perform the following operations:

1. Print the value associated with the key "name".
2. Add a new key-value pair to the dictionary: "year" with a value of 2.
3. Remove the key-value pair with the key "major".
4. Update the value of the key "gpa" to 3.9.
5. Check if the key "grade" exists in the dictionary.

In [26]:
# Question 5: Dictionary Manipulation

# Write your code below this line
print(student["name"])
student["year"] = 2
del student["major"]
student["gpa"] = 3.9
is_grade_present = "grade" in student
# End of your code

Alice

- Question 6: Set Operations (20 points)
- You are given the following sets:

In [27]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

- Perform the following operations:

1. Print the union of set1 and set2.
2. Print the intersection of set1 and set2.
3. Print the difference between set1 and set2.

In [28]:
# Question 6: Set Operations

# Write your code below this line
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
# End of your code

- Question 7: Data Type Conversion and Output Formatting (10 points)
- You are given the following variables:

In [3]:
temperature = 25.8
humidity = 0.75

- Perform the following operations:

1. Convert the temperature to an integer and store the result in a variable named rounded_temp.
2. Convert the humidity to a percentage (multiply by 100) and store the result in a variable named percentage_humidity.
3. Print the temperature and humidity in the following format: "Temperature: 25.8°C, Humidity: 75%".

In [29]:
# Question 8: Data Type Conversion and Output Formatting

# Write your code below this line
rounded_temp = int(temperature)
percentage_humidity = humidity * 100
print(f"Temperature: {rounded_temp}°C, Humidity: {percentage_humidity}%")
# End of your code

Temperature: 25°C, Humidity: 75.0%